<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Inicial</title>
</head>

<body>
    <header>
    </header>

    <div class="conteudo">
        <h1><%= titulo %></h1>
    </div>

    <footer>
    </footer>
</body>
</html>