<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Lista de Publicações</title>
</head>

<body>
    <header>
    </header>

    <div class="conteudo">
        <h1><%= titulo %></h1>
        <p>Lista de publicações.</p>
    </div>

    <footer>
    </footer>
</body>
</html>